[MAIN]

# configuration file for pylint

# ignore the following paths:
ignore=
    venv,
    config,
    lint

# number of processors to use
jobs=1

[MESSAGE CONTROL]

# Disable the specific messages
disable=
    # redefine outer name
    W0621,
    # wildcard import
    W0401,
    # pointless string statement, used for commenting so no throw error
    W0105,
    # missing function doc string, I'll add them stop complaining
    C0116,
    # using private members
    W0212,
    # too few public methods
    R0903

[REPORTS]

# the output format for the reports.
# output-format=json

# output=lint\pylint.json

[FORMAT]

max-line-length=79

# allow an if-statement to be one line (no)
single-line-if-stmt=no

# allow a class statement to be one line (no)
single-line-class-stmt=no

indent-string='    '

[BASIC]

# define the naming styles
function-naming-style=camelCase

variable-naming-style=camelCase

const-naming-style=UPPER_CASE

attr-naming-style=camelCase

argument-naming-style=camelCase

class-naming-style=PascalCase

class-const-naming-style=UPPER_CASE

module-naming-style=snake_case

method-naming-style=camelCase
